### IntelliJ IDEA ###
out/
allure-report/
allure-results/
!**/src/main/**/out/
!**/src/test/**/out/
hybrid-nopcommerce-framework.iml
.kotlin
.idea/

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store
/allure-report/
/allure-results/
/logs/
/logs2/
/test-output/
/logs2/
/target/
/test-output/
