<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd"><suite name="All Test Suite"><test verbose="2" preserve-order="true" name="D:/Automation Testing/03-Java Hybrid Framework/hybrid-nopcommerce-framework/testcases/com/nopcommerce/user/User_01_Register_Login.java"><classes><class name="com.nopcommerce.user.User_01_Register_Login"><methods><include name="TC_01_Register"/><include name="TC_02_Login"/></methods></class></classes></test></suite>