<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="NopCommerce Automation Testing">
    <test name="Run on Firefox browser">
        <classes>
            <class name="com.nopcommerce.user.User_01_Register_Login"/>
        </classes>
    </test>
</suite>